{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block title %}Registros{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr class="row">
                <th scope="col" >Tipo</th>
                <th scope="col" >Valor</th>
                <th scope="col" >Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for i in dep %}
             <tr class="row" >
                <td scope="col" >{{ i.tipo_receita }}</td>
                <td scope="col" >{{ i.valor }}</td>
                <td scope="col" >
                    <a class="btn btn-primary" href="#">Editar</a>
                    <a class="btn btn-danger" href="#">Excluir</a>
                </td>
             </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% bootstrap_javascript %}